__pycache__
tmp
log
/data/binance
/data_fees
back_test/BTC_USDT_USDT_funding_rate_history.csv
/data
*.txt
back_test/result.txt
back_test/result.txt
back_test/transactions.txt
*.pkl
/strategy_report/78bed-main
*.pyc
*.pyc
*.csv
